<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htc.imagebutton.aut"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HtcDeviceDefault"
        android:vmSafeMode="true" >
        <activity
            android:name="com.htc.imagebutton.aut.HtcButtonDemo"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.htc.imagebutton.aut.HtcImageButtons"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.htc.imagebutton.aut.QuickContactDemo"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.htc.aut.ActivityBase"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.htc.imagebutton.aut.HtcImageButtonAutActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>